version: 2.1
 
orbs:
  sedstart: shinobi/cicd@dev:one
 
jobs:
  run-sedstart-cloud:
    docker:
      - image: cimg/node:20.18.0
    steps:
      - run:
          name: "Debug: show env"
          command: |
            echo "Testing sedstart-shinobi orb (dev)"
      - sedstart/runcloud:
          api_key: SEDSTART_API_KEY
          test_id: 1937
          suite_id: 387
          profile_id: 848
          environment: "QA"

          
  run-sedstart-local-linux:
    docker:
      - image: cimg/node:20.18.0
    steps:
      - checkout
      - run:
          name: "Install Playwright"
          command: |
            sudo apt-get update
            sudo apt-get install -y xvfb
      - cicd/runlocal:
          api_key: SEDSTART_API_KEY 
          project_id: 418
          test_id: 1937
          profile_id: 848
          browser: chrome
          environment: "QA"
          
  run-sedstart-local-windows:
    resource_class: 'windows.medium'
    machine:
      image: "windows-server-2022-gui:current"
      shell: "powershell.exe -ExecutionPolicy Bypass"
    steps:
      - checkout
      - cicd/runlocal:
          api_key: SEDSTART_API_KEY
          project_id: 418
          suite_id: 387
          profile_id: 848
          browser: chrome
          environment: "QA"
          
  run-sedstart-local-mac:
    macos:
      xcode: 16.4.0
      resource_class: 'm4pro.medium'
    steps:
      - checkout
      - cicd/runlocal:
          api_key: SEDSTART_API_KEY
          project_id: 418
          test_id: 1937
          profile_id: 848
          environment: "QA"
          browser: "webkit"

workflows:
  main:
    jobs:
      - run-sedstart-cloud
