version: 2.1

orbs:
  sedstart: shinobi/cicd@dev:one

jobs:
  run-sedstart:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Install Xvfb
          command: |
            sudo apt-get update
            sudo apt-get install -y xvfb

      - sedstart/runcloud:
          base_url: "http://cli.sedstart.com/latest"
          api_key: SEDSTART_API_KEY   # env var set in CircleCI project

workflows:
  main:
    jobs:
      - run-sedstart
