version: 2.1

orbs:
  sedstart: shinobi/cicd@dev:one

jobs:
  run-sedstart-cloud:
    docker:
      - image: cimg/node:20.18.0
    steps:
      - run:
          name: "Debug: show env"
          command: |
            echo "Testing sedstart-shinobi orb (dev)"

      - sedstart/runcloud:
          api_key: SEDSTART_API_KEY
          project_id: 364
          test_id: 1629
          profile_id: 616
          browser: "chrome"
          environment: "QA"
  run-sedstart-local-linux:
    docker:
      - image: cimg/node:20.18.0
    steps:
      - checkout
      - run:
          name: "Install Playwright"
          command: |
            sudo apt-get update
            npx --yes --package=playwright@1.57.0 playwright install --with-deps

      - sedstart/runlocal-linux:
          api_key: SEDSTART_API_KEY 
          project_id: 364
          test_id: 1629
          profile_id: 616
          environment: "QA"
  run-sedstart-local-windows:
    machine:
      image: windows-server-2022-gui:current
    steps:
      - checkout
      - sedstart/runlocal-windows:
          api_key: SEDSTART_API_KEY
          project_id: 364
          test_id: 1629
          profile_id: 616
          environment: "QA"

workflows:
  main:
    jobs:
      - run-sedstart-local-linux
