version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/node:25.2.1
    steps:
      - cicd/runcloud:    
          api_key: SEDSTART_API_KEY_PROD      
          project_id: "364"
          test_id: "1629"
          profile_id: "616"
          browser: "chrome"
          headless: false
          environment: "QA"
          
workflows:
  test-workflow:
    jobs:
      - test
