version: 2.1

orbs:
  sedstart: shinobi/cicd@dev:one

jobs:
  run-sedstart:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Install Xvfb
          command: |
            sudo apt-get update
            sudo apt-get install -y xvfb

      - sedstart/runcloud:
          base_url: "http://cli.sedstart.com/latest"
          api_key: SEDSTART_API_KEY   # env var set in CircleCI project
          project_id: "364"
          test_id: "1629"
          profile_id: "616"
          browser: "chrome"
          headless: true
          environment: "QA"

workflows:
  main:
    jobs:
      - run-sedstart
