version: 2.1

orbs:
  runbridge: shinobi/runbridge@dev:beta-four

jobs:
  trigger-remote-run:
    docker:
      - image: cimg/node:20.18.0
    steps:
      - run:
          name: "Debug: show env"
          command: |
            echo "Testing runbridge orb (dev)"

      - runbridge/run-bridge:
          api_key: SEDSTART_API_KEY
          project_id: 364
          test_id: 1629
          profile_id: 616
          browser: "chrome"
          headless: true
          environment: "QA"
workflows:
  run_tests:
    jobs:
      - trigger-remote-run
